@font-face {
  font-family: 'Playfair Display';
  src:
    url('PlayfairDisplay-Bold.woff2') format('woff2'),
    url('PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src:
    url('PlayfairDisplay-Regular.woff2') format('woff2'),
    url('PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
