.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf2e9;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ddd4cc;
  -webkit-box-shadow: 0 3px 6px -4px rgba(105, 105, 105, 1);
  -moz-box-shadow: 0 3px 6px -4px rgba(105, 105, 105, 1);
  box-shadow: 0 3px 6px -4px rgba(105, 105, 105, 1);
  z-index: 3;
}

.navbarTitle {
  font: 700 20px/20px 'Playfair Display', sans-serif;
  color: #303030;
  padding: 12px 16px;
}

.navbarLink {
  position: absolute;
  left: 10px;
  font: 400 14px/10px 'Source Sans Pro', monospace;

  a {
    text-decoration: none;
    background-color: #303030;
    border-radius: 25px;
    color: #ddd4cc;
    padding: 6px 10px;
    transition: 0.1s;

    &:hover {
      color: #fff;
      transition: 0.1s;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbarContainer {
    height: 70px;
  }

  .navbarTitle {
    font-size: 22px;
    line-height: 22px;
  }

  .navbarLink {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbarTitle {
    font-size: 26px;
  }
}
