.filterTagsContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  padding: 10px;
}

.filterCategory {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-bottom: 5px;

  h4 {
    font: 700 18px/18px 'Playfair Display', monospace;
  }
}

.categoryTags {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  overflow-x: scroll;
  padding: 10px 0 10px 2px;

  div {
    margin-right: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 4px -1px rgba(71,71,71,1);
    -moz-box-shadow: 0px 1px 4px -1px rgba(71,71,71,1);
    box-shadow: 0px 1px 4px -1px rgba(71,71,71,1);
  }

  h6 {
    padding: 8px 12px;
    font: 700 14px/14px 'Source Sans Pro', monospace;
    white-space: nowrap;
  }

  .male {
    background-color: #5DADE2;
    border-bottom: 2px solid #4682A9;
    color: #D6EAF8;
  }

  .female {
    background-color: #F8BBD0;
    border-bottom: 2px solid #BA8C9C;
    color: #5D464E;
  }

  .jacket {
    background-color: #F7DC6F;
    border-bottom: 2px solid #B9A553;
    color: #7B6E37;
  }

  .jeans {
    background-color: #E59866;
    border-bottom: 2px solid #AC724D;
    color: #563926;
  }

  .shirts {
    background-color: #CDDC39;
    border-bottom: 2px solid #9AA52B;
    color: #808924;
  }

  .tops {
    background-color: #880E4F;
    border-bottom: 2px solid #660A3B;
    color: #E1C3D3;
  }

  .dresses {
    background-color: #4DB6AC;
    border-bottom: 2px solid #3A8981;
    color: #D3EDEA;
  }

  .multi {
    background-image: linear-gradient(
      to right,
      #64b5f6,
      #4dd0e1 20%,
      #81c784 40%,
      #dce775 60%,
      #ffb74d 80%,
      #ba68c8
    );
    border-top: 2px solid #E1C3D3;
    border-right: 2px solid #ba68c8;
    border-bottom: 2px solid #81c784;
    border-left: 2px solid #64b5f6;
  }
}

.colorCategory {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}

.tag {
  width: auto;
}
