.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  left: -20px;
  height: 60px;
  background-color: #EDE4DC;
  border-top: 1px solid #CEC7C1;

  p {
    text-align: center;
  }

  .name {
    font: 400 14px/20px 'Source Sans Pro', monospace;
  }
}
