.filterInputContainer {
  margin: 10px 0 10px 0;
  position: relative;
  display: inline-block;

  &:hover .filterInputDropdown {
    display: block;
  }

  h3 {
    padding: 6px 16px;
    font: 400 20px/20px 'Source Sans Pro', monospace;
  }
}

.filterIcon {
  font-size: 14px;
  color: #303030;
  margin: 0 0 1px 0;
}

.filterInputDropdown {
  display: none;
  position: absolute;
  margin-top: 5px;
  width: 100vw;
  z-index: 1;
  background-color: #fdf2e9;
  border-top: 1px solid #ede4dc;
  -webkit-box-shadow: 0px 2px 10px -1px rgba(48,48,48,1);
  -moz-box-shadow: 0px 2px 10px -1px rgba(48,48,48,1);
  box-shadow: 0px 2px 10px -1px rgba(48,48,48,1);
}
