.homePageContainer {
  padding: 0 10px;
  margin-top: 70px;
  width: 100%;
  height: auto;
}

.titleCategoryContainer {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #EBEDEF;
}

.productListTitle {
  font: 700 28px/28px 'Playfair Display', monospace;
  width: auto;
  display: inline-block;
}

.productListContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
